<div class="resolution text-center town-description col-sm-6 col-sm-offset-3">Success! Let's enjoy a party!</div>

<div class="resolution2 text-center town-description col-sm-6 col-sm-offset-3">You have succeeded at your task and have saved Sandpoint from a terrible fate. Now to relaxe and enjoy a party in your honor. But don't get too comfortable... More dangerous creatures are beginning to stir.</div>

<button class="btn text-center btn-success start-button col-md-4 col-sm-offset-4 pull-down" ui-sref="shop">To the Shop!</button>