<div class="titleContainer">  
  <div class="headSection col-md-8 col-md-offset-2">  
    <h1 class="header text-center">Monster Bash!</h1>
    <h2 class="subHeader text-center">Duel for SandPoint</h2>
  </div>
  

  <div class="description">
    <p class="text-center town-description col-sm-6 col-sm-offset-3">
      Welcome to Sandpoint; a quiet little town on the coast of Varisia. Sandpoint is a small town, mostly human with a sprinkling of elves, dwarves, and halflings. Nothing much of interest happens here...
    </p>
    <p class="text-center town-description col-sm-6 col-sm-offset-3">Until today</p>
  </div>

  <button class="btn text-center btn-success start-button col-md-4 col-sm-offset-4 pull-down" ui-sref="heroes">Honor Calls</button>
</div>